@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #005a00;
    /* --seconday-color: #5f9ea0; */
    --seconday-color: #299129;
    --border-color: #ddd;
    --text-Color: green
}

.flexBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.columnFlexbox {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: var(--text-Color);
    margin: 24px;
}

/* header CSS starts here  */
header {
    width: 100vw;
    height: 60px;
    background-color: var(--primary-color);
    color: white;
}

nav {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.menuItem {
    max-width: 600px;
}

.menuItem span a {
    margin-right: 40px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* header CSS ends here  */

/* Description section CSS starts here  */

.columnFlexbox h2 {
    font-size: 36px;
    text-align: center;
    color: var(--text-Color);
    margin: 16px;
}

.content p {
    max-width: 600px;
    text-align: justify;
    line-height: 1.5;
}

.cRadius {
    border-radius: 20px;
    box-shadow: 2px 2px 0.5px 0 var(--seconday-color);
}

/* Description section CSS ends here  */

/* Table  CSS starts here  */
.wideContainer {
    max-width: 1400px;
    margin: 50px auto;
}

#fitnessData {
    width: 35vw;
    height: 25vh;
    border-collapse: collapse;
    margin-right: 52px;

}

#fitnessData td,
#fitnessData th {
    border: 1px solid var(--border-color);
    padding: 10px;
    text-align: center;
}

#fitnessData th {
    border: none;
    background-color: var(--seconday-color);
    color: white;
}

#fitnessData tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Table CSS Ends here  */

/* Form  CSS starts here  */
form {
    min-width: 400px;
    /* background-color: pink; */
    border: 1px solid var(--primary-color);
    line-height: 25px;
    padding: 20px;
    border-radius: 50px;
}

form input {
    min-width: 250px;
    line-height: 25px;
    padding: 16px;
    border-radius: 50px;
    border: 1px solid var(--primary-color);

}

form button {
    min-width: 150px;
    margin: 0 auto;
    margin-top: 14px;
    padding: 20px;
    border-radius: 50px;
    color: white;
    border: 1px solid var(--border-color);
    background-color: var(--seconday-color);
}

.formData {
    padding: 16px 0;
}

/* Form CSS Ends here  */

footer {
    padding: 16px;
    background-color: var(--seconday-color);
    text-align: center;
    color: white
}